#slider-range {
    margin-left:10px;
    width: 250px;

}

#headeropdracht {
    text-align:center;
}


#SubCategorie {
text-align:center;
    top: 194px;
    left: 286px;
    width: 819px;
}


#datagridviewmargin {
margin-left:40px;

}

#logout {
float:right;

}

#changepass {
float:right;
margin-left:40px;
margin-right:40px;
background-color:#4B0083;
color:white;
border-color:black;
font-family:Calibri;
border-radius:50px;
    border-style:solid;
    padding:5%;
}

#Change {

    float:left;
}

#Dropdownlistsmargin {
    margin-left:40px;

}

#buttonmargin {
float:right;

}

#Dropdownlistsmargin {
    background-color:#4B0083;
    width:300px;
    color:white;
    font-family:Calibri;
    border-style:solid;
    border-radius:50px;
    border-color:black;
    padding:5%;
    float:left;
    padding-bottom:65px;
}

#testhestbest {
display:inline-block;
width:100%;

}