#slider-range {
    margin-left:10px;
    width: 250px;

}

#headeropdracht {
    text-align:center;
}


#SubCategorie {
text-align:center;
    top: 194px;
    left: 286px;
    width: 819px;
}


#datagridviewmargin {
margin-left:40px;

}

#logout {
float:right;

}

#changepass {
float:right;
margin-left:40px;
margin-right:40px;
background-color:#4B0083;
color:white;
border-color:black;
font-family:Calibri;
border-radius:50px;
    border-style:solid;
    padding:4%;
    margin-right:10px;
}

#Change {

    float:left;
}

#Dropdownlistsmargin {
    margin-left:40px;

}

#buttonmargin {
float:right;

}

#Dropdownlistsmargin {
    background-color:#4B0083;
    width:400px;
    color:white;
    font-family:Calibri;
    border-style:solid;
    border-radius:50px;
    border-color:black;
    padding:1%;
    padding-left:2%;
    float:left;
    padding-bottom:65px;
    margin-left:10px;
}

#testhestbest {
display:inline-block;
width:80%;

}


#getallen {
display:inline-block;
width:900px;
}

#getallenlijnimage {
text-align:center;
}

#getallen #getal1 {
position:absolute;
right:380px;
}
#getallen #getal2 {
position:absolute;
right:540px;
}
#getallen #getal3 {
position:absolute;
left:800px;
}
#getallen #getal4 {
position:absolute;
left:640px;
}
#getallen #getal5 {
position:absolute;
left:400px;
}

#getallen .eerste {
position:absolute;
left:28%;
}

#getallen .tweede {
position:absolute;
left:33%;
}
#getallen .vierde {
position:absolute;
left:43%;
}
#getallen .zesde {
position:absolute;
left:53%;
}
#getallen .zevende {
position:absolute;
left:57%;
}
#getallen .negende {
position:absolute;
left:67%;
}