.clock {
    background: url(http://www.clker.com/cliparts/k/u/9/J/q/a/clock-face-no-hands-md.png);
    height: 300px;
    width: 300px;
}

.clock .hand {
    background: #000;
    height: 100px;
    position: absolute;
    width: 5px;
    background-color: blue;
    margin: 50px 0px 0px 148px;
    -webkit-transform-origin: bottom;
    -ms-transform-origin: 80% 80% 0;
    -o-transform-origin: 80% 80% 0;
    -moz-transform-origin: 80% 80% 0;
    transform-origin: bottom;
}

.clock .little.hand {
    height: 60px;
    margin-top: 90px;
    background-color: red;
    z-index:5;
}