body {
    background-color:#E1E1FF;
}

#header 
{
    width:50%;
    height:80px;
    padding-left: 100px;
    background-color:#4B0083;
    top:0;
    margin: auto
}

#logo 
{
    width:100px;
    height:80px;
    float:right;
    padding-right:20px;
}

#naam 
{
    font-family:Calibri;
    font-size:50px;
    color:white;
    position:fixed;
    text-align:center;
    padding-top:10px;
}


