body {
    background-color:#E1E1FF;
}

#header 
{
    width:60%;
    height:80px;
    background-color:#4B0083;
    top:0;
    margin: auto;
}

#logo 
{
    width:100px;
    height:80px;
    float:right;
    padding-right:2%;
}

#naam 
{
    font-family:Calibri;
    font-size:50px;
    color:white;
    float:left;
    padding-left:2%;
    width: 318px;
}

#content
{
    width:60%;
    height:850px;
    background-color:white;
    margin: auto;
    
}

#ButtonRow1 
{
    padding:10px;
    margin-left:10px;
}



