body {
    background-color:#E1E1FF;
}

#header 
{
    width:60%;
    height:80px;
    background-color:#4B0083;
    top:0;
    margin: auto;
}

#logo 
{
    width:100px;
    height:80px;
    float:right;
    padding-right:2%;
}

#naam 
{
    font-family:Calibri;
    font-size:50px;
    color:white;
    float:left;
    padding-left:2%;
    width: 400px;
}

#content
{
    width:60%;
    height:880px;
    background-color:white;
    margin: auto;

}

#ButtonRow1 
{
    float:left;
    width:100px;
    height:100px;
    padding-left:50px;
}

#ButtonRow2 
{
    float:right;
    width:100px;
    height:100px;
    padding-right:50px;
}

#ButtonRow3 
{
    padding-left:44%;
    padding-right:56%;
    width:100px;
    height:100px;
}

.Button {
    margin-top:100px;
    width:100px;
    height:100px;
    border-radius:20px;
}

.Button:active {
    margin-left:10px;
    margin-top:110px;
    width:80px;
    height:80px;
}

#Tekst {
    margin-top:60%;
}

#Login {
    background-color:#4B0083;
    position:fixed;
    margin-left:17%; 
    margin-top:15%;
    margin-right:17%;
    padding:5%;
    color:white;
    font-family:Calibri;
    border-style:solid;
    border-radius:50px;
    border-color:black;
}

#Password {
    margin-top:15px;
}

#ButtonLogin {
    text-align:right;
    margin-top:15px;
}

.ButtonLogin {
    width:156px;
    height:50px;
    border-radius:15px;
}

.lblPassword {
    margin-right:24px;
}

.lblUsername {
    margin-right:20px;
}